<p>
  home works!
  <button (click)="showDialog()">Show Dialog</button>
  <button (click)="showOverlay()">Show Overlay</button>
  <button (click)="goToComp1()">Show Comp1 of Module1</button>
</p>
<div>
    <button (click)="login()">Login</button>
    <button (click)="logout()">LogOut</button>
    <button (click)="isAuthorized()">IsAuthorized</button>
    <button (click)="isTokenExpired()">IsTokenExpired</button>
    <button (click)="backgroundRefresh()">Background Refresh</button>
    <button (click)="isNonIfmUser()">isNonIfmUser</button>
    <button (click)="goToErrorPage()">Go to Error Page</button>
    <button (click)="getRouteParams()">Get Route params</button>
    <button (click)="getQueryParams()">Get Query string Params</button>
    <button (click)="navigateByRoute()">Navigate by Route</button>

    <button (click)="withLayout()">Navigate With Layout</button>
    <button (click)="withoutLayout()">Navigate WithOut Layout</button>
</div>