<div fxLayout="column" class="top-nav">

  <div class="col-item-1">
    <img src="assets/images/colorband.png" />
  </div>

  <div class="col-item-2">

    <div fxLayout="row" class="row-items" fxLayoutAlign="none center">
      <div class="row-item-1">
        <img src="assets/images/FCStone_Logo.svg" />
      </div>
      <div class="row-item-2">
        <span>{{title}}</span>
      </div>
      <div class="row-item-3" fxFlex>
        <div fxLayout="row" fxLayoutAlign="end">
          <div>login</div> <div>icon1</div><div>icon2</div>
        </div>
      </div>
    </div>

  </div>

</div>